/*사용자 동작에 반응하는 가상 클래스*/

a:link{color: black;}
/*방문하지 않은 링크에 스타일 적용*/

a:visited{color: black;}
/*방문한 링크에 스타일 적용*/

a:hover{color: black;}
/*웹 요소에 마우스 커서를 올려놓을 때의 스타일 적용(마우스 오버)*/

a:active{color: #000;}
/*웹 요소를 활성화 했을때 스타일 적용(링크나 이미지등을 클릭때)*/

a:focus{color: #000;}
/*웹 요소에 초점이 맞추어졌을 때의 스타일 적용(아이디 입력을 위해 텍스트 필드 안에 마우스 커서를 놓거나, tab을 이용해 초점을 이동했을때 등)*/

a:link , a:visited , a:hover , a:active{color: #000;}
/*위의 순으로 정의하지 않으면 스타일이 제대로 적용되지 않을 수 있다.*/


a:target{background-color: black;}
/*앵커 목적지에 스타일을 적용한다.*/

a:not(#em){color: black;}
/*특정 요소가 아닐때 스타일을 적용한다.(위에 예시는 #em이 아닌 모든 a요소를 검정색으로 지정한다는 소리이다.)*/



/*가상 요소*/
p::first-line , p::first-letter{color: #000;}
/*이 요소를 지정한 요소의 첫 번째 줄이나 첫번째 글자에 스타일을 적용(first-letter사용 시 무조건 첫번째 줄 첫글자여야 함 / br을 사용해 개행할 경우 x)*/

p::before , p::after{content: "내용";}
/*이 요소를 사용하면 특정 요소의 내용 앞이나 뒤에 지정한 내용을 넣을 수 있음(요소 앞 뒤에 텍스트나 이미지등을 추가할 수 있다.)*/