h1{-webkit-column-width: auto;}
/*단의 너비를 고정하는 속성이다. 만약 여러 단을 표시하고도 공간이 부족하거나 남으면 지정한 너비보다 더 좁거나 넓을 수 있다.(접두사 사용)
    - 인터넷 익스플로러11 이상과 마이크로소프트 엣지 브라우저는 다단 속성을 모두 지원해 접두사를 붙이지 않아도 된다.

<크기>    단 너비를 직접 지정
auto      단의 개수가 같은 다른 속성에 따라 단의 너비가 자동 계산됨

창 크기 변동 시 단 너비는 유지되나 단의 개수가 달라진다. 즉 화면을 줄이면 가로가 줄어들면서 세로로 길어진다.
*/

h1{-webkit-column-count: auto;}
/*단의 개수를 고정하는 속성이다 이때 창의 너비에 따라 단의 너비도 변경된다. 창이 넓어지면 단도 넓어진다.  (접두사 사용)

<숫자>     콘텐츠가 들어갈 단의 개수를 지정. 0보다 큰 수를 사용한다.
auto       단의 너비 같은 다른 속성에 따라 단의 개수가 자동 계산된다.
*/


h1{-webkit-column-gap: normal;}
/*단과 단 사이의 여백을 지정하는 속성이다. 단과 단 사이에 선을 넣으면 이 선도 여백 안에 들어간다. (접두사 사용)

<크기>     단과 단 사이의 여백을 숫자로 지정한다.
normal     여백을 자동으로 지정한다. (권장 여백은 1em) 
*/


h1{-webkit-column-rule: 2px  dotted black;}
/*구분선의 색상, 스타일, 너비를 지정해주는 속성이다.(border-style과 사용할 수 있는 값이 같다)*/


h1{
    break-after: column;
    break-before: column;
}
/*다단 위치를 지정해주는 속성이다.(크롬,파이어폭스 브라우저 같은 경우 아직 완벽히 지원되지 않는다.)

특정 요소 앞에(뒤에) 단을 나누려면 break-befor(after)e:column을 사용하고 반대로 강제로 단을 나누지 않게 하려면 column대신 avoid-column을 사용한다.
*/


h1{column-span: all;}
/*여러 단을 하나로 합치는 속성이다.  속성 값으로는 1(기본값) , all(전체 단을 하나로 합침) 이 있다. 단의 일부만을 합칠 수는 없다.*/