a{
    transform-origin: 100px 100px 100px;
    transform-origin: left top; /*왼쪽 위의 점을 기준으로 속성(회전 등)을 적용한다는 소리*/
}
/*변형 기준점을 설정하는 속성으로 기존에는 축을 기준으로 삼았지만 위의 속성을 활용하면 특정 지점을 기준으로 삼을 수 있다. 속성으로는 3가지가 있다.

<x축>           원점 기준의 X좌푯값으로 값의 길이나 <백분율>,left,center,right 중에서 사용할 수 있다.
<y축>           원점 기준의 y좌푯값으로 값의 길이나 <백분율>,top,center,bottom 중에서 사용할 수 있다.
<z축>           원점 기준의 z좌푯값으로 길이 값만 사용할 수 있다.
*/


a{
    perspective: 300px;
    perspective-origin: 300px;
}
/*원근감을 표현하는 속성으로 원래 위치에서 사용자가 방향이나 반대 방향으로 잡아당겨(밀어내) 원근감을 갖게 한다. 속성 값은 0보다 커야 하고 클수록 멀어짐

<크기>      원래 위치에서 사용자가 있는 방향으로 얼마나 이동하는지를 픽셀 크기로 지정함
none        위의 속성을 지정하지 않음(기본값)
*/

a{transform-style: flat;}
/*3d 변형을 적용하는 속성으로 부모 요소에 지정한 3d변형을 하위 요소에 적용할 수 있다.

flat                       하위 요소를 평면으로 처리
preserve-3d                하위 요소들에 3d 효과를 적용
*/