section p {color: #000;}
/*하위 선택자
    지정한 모든 하위 요소(자식,손자 요소)에 스타일 적용(상위 요소와 하위 요소를 공백으로 구분하고 대괄호 안에 속성을 지정
*/

section > p{color: black;}
/*자식 선택자
    자식 요소에만 스타일을 적용(부등호를 사용해 부모와 자식 요소를 구분)    
*/

h1 + p{text-decoration: underline;}/*h1 요소 다음에 오는 p요소 중 가장 첫번째 요소에만 밑줄을 그으라는 소리*/
/*인접 형제 선택자
   가장 가까운 첫번째 형제 요소에 스타일 적용(구조는 요소1 + 요소2 이고 이 둘은 같은 레벨이며 요소1 이후 맨 먼저 오는 요소 2에 스타일을 적용한다.)
*/


h1 ~ p{text-decoration: underline;}  /*h1 요소 다음에 오는 p 요소들 전부 밑줄을 그으라는 소리*/
/*형제 선택자
    모든 형제요소에 적용된다. 기본형은 요소1~요소2 이고 요소1이 형제 요소 , 요소2가 동생 요소이다.*/