/*트랜지션이란
    웹 요소의 배경 색이 바뀌거나 도형의 테두리가 원형으로 바뀌는 것처럼 스타일 속성이 바뀌는 것*/

a{transition-property: width,height;}
/*트랜지션을 적용할 속성을 지정하는 속성

all             all값을 사용하거나 이를 생략할 경우, 요소의 모든 속성이 트랜지션 대상이 된다.(기본값) 
none            트랜지션 동안 아무 속성도 바뀌지 않음
<속성이름>      트랜지션 효과를 적용할 속성 이름을 지정함(배경 색만 바꿀건지,width만 바꿀건지 등) 속성이 여러 개면 쉼표로 구분/
*/

a{transition-duration: 2s , 1s;}
/*트랜지션 진행 시간을 지정하는 속성(단위는 초(s)이며 여러개면 쉼표로 지정) 만약 트랜지션 효과와 초의 수가 일치하지 않음 초가 다시 반복된다.*/

a{transition-timing-function: linear;}
/*트랜지션 속도 곡선을 지정하는 속성으로 시간 중간 끝에서의 속도를 지정할 수 있다.

liner                            시작부터 끝까지 똑같은 속도로 트랜지션을 진행
ease                             처음에는 천천히 시작하고 점점 빨라지다가 마지막에는 천천히 끝냄(기본값)
ease-in                          시작을 느리게 함
ease-out                         느리게 끝남
ease-in-out                      시작을 느리게 하고 느리게 끝남
cubic-bezier(n,n,n,n)            함수를 직접 정의해 사용(n에서 사용할 수 있는 값은 0~1이다.)
*/

a{transition-delay: 2s;}
/*지연 시간을 설정하는 속성으로 언제부터 시작할지를 설정하는 속성이다.*/


a{transition: 2s ease-in;}
/*트랜지션 속성을 한꺼번에 표시하는 속성으로 기본값은 위의 순서대로 4개이다.*/