/*
CSS 포지셔닝이란
- 박스 모델들을 배치하는 것
*/

h1{box-sizing: border-box;}
/*위는 박스 너비 기준을 정하는 속성이다. 속성으로는 content-box(width 값을 콘텐츠 너비값으로 지정_기본값) , border-box(width+테두리를 너비값으로 지정)

즉 content-box 사용 후 width 300px은 콘텐츠 자체 너비가 300px이라는 소리고, border-box 사용 후 width 300px은 콘텐츠+테두리까지의 너비가 300px이라는 소리
*/


h1{
    float: left;
    margin-right: 15px;
}
/*위는 웹 요소를 문서 위에 떠 있게 만드는 속성인데 떠있다라는 표현은 왼쪽 구석이나 오른쪽 구석에 요소가 배치된다라는 소리이다. 속성값으로는 3가지가 있다.

left       해당 요소를 문서의 왼쪽으로 배치
right      해당 요소를 문서의 오른쪽으로 배치
none       좌우 어느쪽으로도 배치 하지 않음

이미지와 텍스트를 나란히 표시하려 할땐 float 속성을 사용한다. 이때 텍스트와 사진 간격을 띄우기 위해 margin값을 사용하기도 한다.
*/

h1{clear: none;}
/*위는 float 속성을 해제하기 위한 속성이다. float 속성 사용 시 그 다음에 넣는 요소들에게도 똑같이 전달되는데 이를 더 이상 유용하지 않다알려주는 속성이다.
만약  float:left 를 이용했다면 clear:left를 사용하는 식이다. 만약 float값에 상관없이 기본으로 되돌리고 싶다면 clear:both 를 사용하면 된다.

float 사용후 clear을 사용하지 않고 float 또한 지정해주지 않으면(float:left지정후 다음 요소에서 똑같이 지정하면 옆에 배치) 요소가 아래쪽에 겹치게 된다.
*/


h1{position: static;}
/*위는 배치 방법을 지정하는 속성이다. 속성값은 4가지가 있다.

static     요소를 문서의 흐름에 맞추어 배치 / 요소를 나열한 순서대로 배치한다.(float 속성을 이용해 좌우로만 배치할 수 있음)
relative   이전 요소에 자연스럽게 연결해 배치하되 위치를 지정할 수 있다.  / 요소를 나열한 순서대로 배치한다.(좌표 이용 가능함) / 원래의 배치 위치가 기준
absolute   원하는 위치를 지정해 배치  / 문서의 흐름과 상관 없음. 기준은 가장가까운 부모나 조상 요소중 relative 속성을 가진 요소(즉 div로 감싼뒤 relative)
fixed      지정한 위치에 고정해 배치. 화면에 요소가 잘릴 수 있음  / 브라우저 창을 기준으로 배치함(한번 고정되면 스크롤해도 계속 고정됨)

static을 제외한 요소는 (top,bottom,right,left)를 사용해 좌표로 지정할 수 있다.(양/음수 사용 가능)
*/

h1{visibility: collapse;}
/*위의 속성은 요소를 보이게 하거나 보이지 않게 하는 속성이다.

visible         화면에 요소를 표시함. 기본값임
hidden          화면에서 요소를 감춤. 하지만 크기는 그대로 유지되 배치에 영향을 미친다.
collapse        표의 행,열,행 그룹 등에서 지정하면 서로 겹치도록 조절. 그 외의 영역에서 사용 시 hidden 처럼 처리한다.
*/