table{caption-side: bottom;}
/*표 제목의 위치를 지정하는 속성이다. 기본적으로 캡션은 표의 위쪽에 표시 된다.

top       캡션의 윗부분에 표시  (기본값)
bottom    캡션의 아래부분 표시
*/


table{border: 1px solid black;}
/*기본적으로 <table border="1">과 같이 태그 내에 삽입이 가능하며 기본적인 border속성과 같다. 
  대신 이럴 경우 표의 안쪽,바깥쪽 모두 테두리가 생기지만 css로 지정 시 안밖 테두리를 따로(<table>태그 따로, <td>태그 따로)지정해야 한다.*/


table{border-collapse: collapse;}
/*테두리를 통합, 분리하는 속성이다. 속성 값으로는 collapse(테두리를 합침) , separate(테두리를 분리_기본값) 가 있다.*/


table{border-spacing: 0ch;}
/*테두리가 분리된 경우(기본) 인접한 셀 테두리들의 거리를 지정하는 속성이다. 속성값은 크기이며 1(2)개는 수평수직을 같이(따로_수평,수직 순) 정의한 것*/



table{empty-cells: hide;}
/*빈 셀의 표시 여부를 지정하는 속성이다. 테두리 셀을 분리했을 경우(기본) 내용이 없는 빈 셀들의 표시 여부를 지정한다.
  
show   빈 셀 주의에 테두리를 그려 빈 셀을 표시  (기본값)
 hide   빈 셀 주의에 테두리를 그리지 않고 비워둠
 */


table{width: 100px;  height: 100px;}
/*표의 너비와 높이를 지정하는 속성이다. 너비와 높이를 지정하지 않을 시 셀 안의 내용 만큼만 표시된다. 속성값은 <값> , <부모를 기준으로 한 %>
 표의 너비를 지정하고 셀의 너비를 지정하지 않는 경우 표의 너비를 셀의 개수로 나누고 내용에 따라 동일한 비율로 지정한다.
*/


table{
    table-layout: auto;
    word-break: break-all;
    height: auto;
}
  /*콘텐츠에 맞게 셀 너비를 지정하는 속성으로 속성값은 2가지가 있다.(width는 너비를 지정하면 길게 입력할 경우 너비를 한줄로 뚫고 나가면서 셀의 너비가 줄음.)
  
  fixed           셀 너비를 고정하여 셀 내용에 따라 너비가 변하지 않는다.
  auto            셀 내용에 따라 셀 너비가 달라진다.   (기본값)

  fixed로 고정하면 셀보다 긴 내용은 셀 밖으로 밀려나가 버림. 너비를 고정한 상태에서 너비안에 셀 내용을 표시하려면 word-break:break-all 속성을 추가해야 함
  또한 셀의 줄빠꿈이 생기면 높이도 예측하기 어려워서 height도 auto로 지정해야 한다.
  */


  table{text-align: center;}
  /*셀 안에서 수평을 정렬하는 속성이다. 사용값은 일반 텍스트 정렬과 똑같다.*/


  table{vertical-align: middle}
  /*셀 안에서 수직 정렬을 해주는 속성이다. 따라서 inline이나 inline-block으로 배치한 요소의 세로 정렬 방법으로 지정한다.
  
  baseline           인라인 요소의 기준선을 부모 요소의 기준선에 맞춘다.(셀의 기준선에 내용의 가준선을 맞춤)
  sub                인라인 요소의 기준선을 부모 요소의 아래 첨자 위치에 맞춘다.
  super              인라인 요소의 기준선을 부모 요소의 위 첨자 위치에 맞춘다.
  top                인라인 요소의 윗부분을 부모 요소의 윗부분에 맞춘다.(패딩의 위쪽 가장자리에 내용의 윗부분을 맞춤)
  middle             인라인 요소의 중앙 부분을 부모 요소의 기준선에서 x자 높이의 반만큼 올려 맞춤(패딩 박스 중앙에 내용을 맞춤) 
  bottom             인라인 요소의 아랫부분을 부모 요소의 아랫부분에 맞춤(패딩 아래쪽 가장자리에 내용의 아랫부분을 맞춤)
  text-top           인라인 요소의 윗부분을 부모 요소 글꼴의 윗부분에 맞춤
  text-bottom        인라인 요소의 아랫부분을 부모 요소 글꼴의 아랫부분에 맞춤
  <길이값>           기준선을 0px이라 생각해고 양수면 기준선 위로, 음수면 기준선 아래로 지정한 크기만큼 옮긴다.
  <백분율값>         기준선을 0%라 생각하고 line-height의 몇 %인지에 따라 양수면 위로, 음수면 아래로 옮긴다.
  */