/*
플렉서블 박스 레이아웃이란
    그리드 레이아웃을 기본으로 해 플렉스 박스를 원하는 위치에 배치하는 것
*/

a{display: flex;}
/*플렉스 컨테이너 지정하는 속성(플렉서블 박스 레이아웃으로 만들기 위해 먼저 플렉스 컨테이너로 묶어야 한다.)

flex               플렉스 박스를 박스 레벨 요소로 정의함
inline-flex        플렉스 박스를 인라인 요소로 정의함
*/

a{
    display: flex;
    flex-direction: column;
}
/*플렉스 방향을 지정하는 속성으로 기본값은 row로 인식함

row                         주축을 가로로 교차축을 세로로 지정함. 플렉스 항목은 주축 시작점에서 끝점(왼쪽에서 오른쪽)으로 배치
row-inverse                 주축을 가로로 교차축을 세로로 지정함. 플렉스 항목은 주축 끝점에서 시작점(오른쪽에서 왼쪽)으로 배치
column                      주축을 세로로 교차축을 가로로 지정함. 플렉스 항목은 주축 시작점에서 끝점(위쪽에서 아래쪽)으로 배치
column-inverse              주축을 세로로 교차축을 가로로 지정함. 플렉스 항목은 주축 끝점에서 시작점(오른쪽에서 왼쪽)으로 배치
*/


a{
    display: flex;
    flex-wrap: wrap;
}
/*플렉스 항목을 한 줄 또는 여러 줄로 배치하는 속성이다.

no-wrap              플렉스 항목들을 한 줄에 표시(기본값)
wrap                 플렉스 항목을 여러 줄에 표시(먼저 가로로 왼->오 , 다음에 세로로 아래->위 로 배치됨)
wrap-reverse         플렉스 항목을 여러 줄에 표시하되 원래 방향과 반대로 배치
*/


a{
    display: flex;
    flex-flow: column wrap;
}
/*플렉스 방향과 줄 배치를 한번에 할 수 있는 속성이다.*/


container{display: flex;}
.box1{order: 2;}
.box2{order: 1;}
/*플렉스 항목의 배치 순서를 바꾸는 속성으로 order에 입력한 순에 따라 요소가 배치된다.*/