a{flex: 1 1 0;}  /*늘이거나 줄이지 않음*/
a{flex: 2 2 0;}  /*2배 늘이거나 2배 줄임*/

/*플렉스 항목의 크기를 조절하는 속성으로 첫번째 값은 늘릴 비율, 두번째 값은 줄일 비율, 세 번째 숫자는 기본 값이다.

숫자 지정         플렉스의 항목의 너비를 얼마나 늘일지, 줄일지 기본크기등을 조절한다.
initial           항목의 width/height 값에 의해 크기가 결정되는데 플렉스 컨테이너의 공간이 부족할 경우, 최소 크기까지 줄인다.
auto              항목의 width/height 값ㅇ[ 의해 크기가 결정되지만 플렉스 컨테이너의 공간에 따라 늘이거나 줄인다.
*/

a{
    display: flex;
    justify-content: flex-end;
}

/*주축 기준의 배치방법을 지정하는 속성이다.

flex-start             주축의 시작점을 기준으로 배치
flex-end               주축의 끝점을 기준으로 배치
center                 주축의 중앙을 기준으로 배치
space-between          첫번째 항목과 마지막 항목을 각각 시작점 , 끝점에 배치한 후 중앙 항목들을 같은 간격으로 배치
space-around           모든 항목들을 같은 간격으로 배치
*/


a{
    display: flex;
    align-items: center;
}

/*교차축 기준의 배치 방법을 지정하는 속성으로 플렉스 항목의 부모 속성 값을 상속받는 auto를 제외시 속성값이 align-self와 같다.

stretch               플렉스 항목을 확장해 교차축을 꽉 채움(기본값)
flex-start            교차축의 시작점을 기준으로 배치
flex-end              교차축의 끝점을 기준으로 배치
center                교차축의 중앙을 기준으로 배치
baseline              시작점과 글자기준선이 가장 먼 항목을 시작점으로 배치한 후 그 글자의 기준선과 다른 항목의 기준선을 맞추어 배치
*/


a{
    display: flex;
    align-self: center;
}

/*교차축 기준의 배치 방법을 지정하는 속성으로 플렉스 항목의 부모 속성 값을 상속받는 auto를 제외시 속성값이 align-items와 같다.

auto                  플렉스 항목의 부모 속성 값을 상속받음
stretch               플렉스 항목을 확장해 교차축을 꽉 채움(기본값)
flex-start            교차축의 시작점을 기준으로 배치
flex-end              교차축의 끝점을 기준으로 배치
center                교차축의 중앙을 기준으로 배치
baseline              시작점과 글자기준선이 가장 먼 항목을 시작점으로 배치한 후 그 글자의 기준선과 다른 항목의 기준선을 맞추어 배치
*/


a{
    display: flex;
    align-content: flex-end;
}

/*여러 줄일때(세로 배치)의 배치 받법을 지정하는 속성으로 사용값은 justify-content와 같다.

flex-start             주축의 시작점을 기준으로 배치
flex-end               주축의 끝점을 기준으로 배치
center                 주축의 중앙을 기준으로 배치
space-between          첫번째 항목과 마지막 항목을 각각 시작점 , 끝점에 배치한 후 중앙 항목들을 같은 간격으로 배치
space-around           모든 항목들을 같은 간격으로 배치
*/